In [14]:
import pandas as pd
import numpy as np

In [27]:
data = pd.read_csv("Iris.csv")

In [28]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [29]:
data.dropna(inplace = True)

In [30]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [33]:
to_drop_col = ['Species','PetalWidthCm']
data.drop(columns = to_drop_col, inplace = True)
data

KeyError: "['Species', 'PetalWidthCm'] not found in axis"

In [20]:
data['Age'].mean()

KeyError: 'Age'

In [45]:
data['Age'].mode()

0    26.9
1    27.3
2    27.6
3    28.2
Name: Age, dtype: float64

In [46]:
data['Poss'].mode()

0    51.3
1    53.0
Name: Poss, dtype: float64

In [47]:
data['Age'].median()

27.3

In [48]:
data['Age'].min()

24.5

In [49]:
data['Age'].max()

29.7

In [50]:
data['Squad'].str.upper()

0          ARGENTINA
1          AUSTRALIA
2            BELGIUM
3             BRAZIL
4           CAMEROON
5             CANADA
6         COSTA RICA
7            CROATIA
8            DENMARK
9            ECUADOR
10           ENGLAND
11            FRANCE
12           GERMANY
13             GHANA
14              IRAN
15             JAPAN
16    KOREA REPUBLIC
17            MEXICO
18           MOROCCO
19       NETHERLANDS
20            POLAND
21          PORTUGAL
22             QATAR
23      SAUDI ARABIA
24           SENEGAL
25            SERBIA
26             SPAIN
27       SWITZERLAND
28           TUNISIA
29     UNITED STATES
30           URUGUAY
31             WALES
Name: Squad, dtype: object

In [51]:
data['Squad'].str.lower()

0          argentina
1          australia
2            belgium
3             brazil
4           cameroon
5             canada
6         costa rica
7            croatia
8            denmark
9            ecuador
10           england
11            france
12           germany
13             ghana
14              iran
15             japan
16    korea republic
17            mexico
18           morocco
19       netherlands
20            poland
21          portugal
22             qatar
23      saudi arabia
24           senegal
25            serbia
26             spain
27       switzerland
28           tunisia
29     united states
30           uruguay
31             wales
Name: Squad, dtype: object

In [52]:
col_data = data["Squad"]
cnt=0
for i in col_data:
    if i=='Iran':
        cnt+=1
print("Iran count=", cnt)

Iran count= 1

In [53]:
data['Squad'].value_counts()

Squad
Argentina         1
Australia         1
Uruguay           1
United States     1
Tunisia           1
Switzerland       1
Spain             1
Serbia            1
Senegal           1
Saudi Arabia      1
Qatar             1
Portugal          1
Poland            1
Netherlands       1
Morocco           1
Mexico            1
Korea Republic    1
Japan             1
Iran              1
Ghana             1
Germany           1
France            1
England           1
Ecuador           1
Denmark           1
Croatia           1
Costa Rica        1
Canada            1
Cameroon          1
Brazil            1
Belgium           1
Wales             1
Name: count, dtype: int64

In [57]:
data['Age'].value_counts()

Age
27.6    3
27.3    3
26.9    3
28.2    3
29.7    2
26.8    2
27.8    2
26.3    2
25.5    2
27.5    1
28.0    1
26.5    1
26.1    1
28.5    1
24.9    1
26.6    1
28.3    1
27.2    1
24.5    1
Name: count, dtype: int64

In [58]:
data[data['Squad'].str.contains('Iran')]

   Squad  # Pl   Age  Poss  MP  Starts  Min  90s
14  Iran    21  28.5  36.7   3      33  270  3.0